/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos genericos*/

body {
    background-color: rgb(94, 117, 117);
}

/*estilo de home*/

header {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

header nav ul li a {
    list-style: none;
    display: flex;
    gap: 1.3rem;
    color: whitesmoke
}


/* estilos de main home*/

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

main {
    height: 70vh;
    margin: 3rem;
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}

.imagen-home {
    grid-row: span 1;
}

.imagen-aromas {
    grid-row: span 1;
}

.imagen-titulo {
    display: none;
}

main .imagen-inicio {
    display: none;
}

/* mq de tablet*/

@media screen and (min-width:600px) {
    body {
        background-color: rgb(187, 110, 110);
    }

    main .imagen-titulo {
        display: block;
    }


    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40% 60%;
    }

    .imagen-home,
    .imagen-aromas {
        grid-row: span 1;
    }

    .imagen-titulo {
        grid-column: span 2;
        grid-row: span 1;
    }

}

/* mq de desktop */

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(221, 118, 22);
    }

    main .imagen-titulo {
        display: none;
    }

    main .imagen-home {
        display: none;
    }

    main .imagen-inicio {
        display: none;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 70% ;
    }

    .imagen-aromas:hover {
        transform: scale(0.8);
        opacity: 70%;
        transition: 3s;

    }
}





/* estilos de main class*/

.titulo {
    color: blue;
}

.imagenesproducto {
    display: inline-block;
    padding: 10px;
}

.imagenwap {
    width: 5%;
}

.impact {
    font-family: sans-serif;
}

.italica {
    font-style: italic;
}

.comicsans {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos de footer*/

footer {
    background-color: rgb(190, 190, 243);
    text-align: center;
    margin-top: 40px;
}

.tamañoimagenfooter {
    width: 5%;
}